<div class = container>

退会ページ

<%= link_to "退会しない", edit_user_registration_path, class: 'btn btn-primary' %>
<%= link_to "退会する",  users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>

</div>