<div class = "container">
  <div class = "about-image">
    <div style="padding: 250px 0 10px 25%;">
      <div class = "text-center">
        <h1>Furatto Plan</h1>
        <h5>
          ユーザーの皆様が作り上げる日帰り旅行専用サイトです</br>
          ふらっと出かけるをテーマに何気ない１日をHAPPYな日に！！！
        </h5>
      </div>
    </div>
  </div>
</div>